

#symbolContainer {
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}

.numberInput {
    width: 30px;
}

#mainContent {
    display: flex;
    justify-content: center;

    padding: 20px;
}

body {
    display: flex;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
}